.list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.button {
  width: 100px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  background-color: #580404;
  border-color: rgb(21, 2, 2);
  color: white;
}
.item:not(:last-child) {
  margin-right: 10px;
}
.button:hover,
.button:focus {
  background-color: #880d0d;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
